.product-card {
    display: block;
    border: 1px solid white;
    background-color: white;
    width: 250px;
    padding-top: 0px;
}

.container {
    display: flex;
    height: auto;
}

.product-image {
    width: 248px;
    height: 247px;
}

.product-info {
    width: 80%;
    align-items: left;
    display: block;
    color: black;
    text-align: left;
    padding-left: 8px;
}

.buttons {
    width: 20%;
    margin-top: 3px;
}

#button-icon {
    border-radius: 10px;
    font-size: 20px;
    width: 30px;
    margin-bottom: 3px;
    border: 1px solid rgba(0, 0, 0, 0.671);
}

.add {
    background-color: green;
}

.remove {
    background-color: rgb(255, 73, 73);
}

#count {
    border-radius: 10px;
    font-size: 20px;
    width: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

#product-name {
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 2px;
    font-weight: bold;
}

#product-price {
    font-weight: bold;
    padding-left: 2px;
}

#stars {
    margin-top: 0px;
    font-size: 14px;
}