.hero {
    display: flex;
    flex-wrap: nowrap;
    width: 900px;
    height: 350px;
    margin: 0 auto;
    background-color: rgb(0, 160, 0);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.welcome {
    text-align: left;
    margin-top: 2px;
    padding-left: 60px;
    color: white;
    width: 50%;
}

.welcome h1 {
    font-size: 60px;
}

.welcome p {
    font-size: 17px;
    text-align: left;
}

.store-icon {
    width: 50%;
    margin-top: 23px;
}

#store-logo-icon {
    width: 300px;
}