.hero {
    display: flex;
    flex-wrap: nowrap;
    width: 55%;
    padding-bottom: 50px;
    min-width: 700px;
    min-height: 350px;
    margin: 0 auto;
    background-color: rgb(0, 160, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.welcome {
    text-align: center;
    margin-top: 2px;
    padding-left: 48px;
    color: white;
    width: 50%;
}

.welcome h1 {
    font-size: 60px;
}

.welcome p {
    font-size: 17px;
    text-align: center;
}

.store-icon {
    width: 45%;
    margin-top: 23px;
}

#store-logo-icon {
    border-radius: 100px;
    padding-top: 39px;
    width: 300px;
}